.dashboard {
    display: grid;
    gap: 1ch;
    & > * {
      background: var(--bg, #EEE);
      border-radius: 2ch;
      color: hsl(215, 75%, 10%);
      container-type: inline-size;
      grid-column: var(--gc, auto);
      grid-row: var(--gr, auto);
      padding: 2ch;
      & h2 {
        margin-block: 0 1ch;
      }
    }
    & table {
      border-collapse: collapse;
      width: 100%;
      & td {
        border-block-end: 1px solid;
        padding-block: .66ch;
      }
      & th {
        border-block-end: 4px double;
        font-variant: small-caps;
        font-weight: 500;
        padding-block: 1ch 0.5ch;
        text-align: start;
        text-transform: lowercase;
      }
      & tr:nth-of-type(2) td { padding-block-start: 1.33ch; }
      & :is(td,th):last-of-type { text-align: end; }
    }
    & ul {
      all: unset;
      display: grid;
      gap: 1.5ch;
      & li { list-style-position: inside; }
    }
  }
